body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#otpContainer {
    margin-top: 20px;
}

#otpValue {
    font-size: 24px;
}

#generateOTPButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
